body {
    background: #f7f8fa;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.73);
    -moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.73);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.73);
}

article {
    padding: 1em;
}

p {
    margin: 0;
    text-align: center;
}

p.nom {
    font-family: Arial, Helvetica, sans-serif;
    color: #71767a;
}

p.latin {
    font-style: italic;
    color: #aaa;
}